<%- include("partials/header"); -%>

      <li class="nav-item">
        <a class="nav-link" href="/password-add">Add</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="/password-search">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
  <span id="username"><%= username %></span>
  <i id="profile-icon" class="fa-solid fa-user"></i>
</nav>

<div class="container-fluid main-body details">
  <div class="logo">
    <span class="fa-stack fa-3x">
      <i class="fa-solid fa-unlock fa-stack-2x"></i>
      <i id="fingerprint-icon" class="authorised fa-solid fa-fingerprint fa-stack-1x fa-inverse"></i>
    </span>
  </div>

    <form action="/password-search" method="post" class="form-signin" autocomplete="off">
      <input name="website" type="text" value="<%= website %>" class="form-control" placeholder="Website" required autofocus>
      <input name="password" type="text" value="<%= password %>" class="form-control" placeholder="Password" readonly>
      <button class="btn btn-lg btn-dark btn-block register" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
</div>

<%- include("partials/footer"); -%>
